<mtapp:setting
	id="large"
	label="<__trans phrase="Large">:">
  <input type="text" name="large" value="<mt:var name="large" encode_html="1" />" size="3" /> px
</mtapp:setting>
<mtapp:setting
	id="midium"
	label="<__trans phrase="Midium">:">
  <input type="text" name="midium" value="<mt:var name="midium" encode_html="1" />" size="3" /> px
</mtapp:setting>
<mtapp:setting
	id="small"
	label="<__trans phrase="Small">:">
  <input type="text" name="small" value="<mt:var name="small" encode_html="1" />" size="3" /> px
</mtapp:setting>
